<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#if slideshowCssPreload}}
    	<link rel="stylesheet" href="{{{baseUri}}}{{{slideshowCssPreload}}}">
    {{/if}}

    <link rel="stylesheet" href="{{{baseUri}}}assets/css/slideshow.css">
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{{baseUri}}}assets/css/mermaid.css">
    <script src="{{{baseUri}}}assets/js/mermaid.js"></script>
    <script>
      mermaid.initialize({
        startOnLoad: false,
        gantt: {
          "fontSize": 30,
          "useWidth": 1200,
          "barHeight": 40,
          "sidePadding": 200
        }
      });

    </script>
    <style>
    .mermaid {
      display: none;
    }
    .mermaid-display {
      font-size: 0.5em;
    }
    .mermaid-display svg {
				max-width: 100%;
		}

    svg .titleText {
      font-size: 25px;
      font-weight: bold;
    }
    svg .taskText {
      font-size: 30px;
    }

    svg .sectionTitle {
      font-size: 30px;
    }

    svg .tick text {
      font-size: 18px;
    }

    svg .taskTextOutsideRight, svg .taskTextOutsideLeft {
      font-size: 25px;
    }

    </style>
    {{#each stylesheets}}
       <link rel="stylesheet" href="{{{../baseUri}}}{{{stylesheet}}}">
    {{/each}}

    {{#if slideshowCss}}
    	<link rel="stylesheet" href="{{{baseUri}}}{{{slideshowCss}}}">
    {{/if}}

  </head>
  <body>
    <textarea id="source">{{{slideMarkdown}}}</textarea>
    <script src="{{{baseUri}}}assets/js/remark.min.js"></script>
    <script>
      window.my_slideshow_mermaid_counter = 0;
      function displayMermaidDiagram() {
        var currentSlide = document.querySelector('.remark-visible')
        console.log("currentSlide", currentSlide)
        var mermaids = currentSlide.querySelectorAll('.mermaid')
        for (var i = 0; i < mermaids.length; i++) {
          var elem = mermaids[i];
          console.log("elem", elem);
          var sibling = elem.nextElementSibling;
          if (sibling) {
            if ( sibling.classList.contains('mermaid-display')) {
              elem.nextElementSibling.remove();
            }
          }
          mermaidAPI.render(
            'mermaid-figure-'+(my_slideshow_mermaid_counter++),
            elem.textContent.trim(),
            function(html) {
              var div = document.createElement('div');
              div.classList.add('mermaid-display');
              div.innerHTML = html;
              elem.parentNode.insertBefore(div, elem.nextSibling);
            }
          );
        }
      }

      var slideshow = remark.create({
         ratio: '{{remarkRatio}}',
         highlightStyle: '{{remarkHighlightStyle}}',
         highlightLanguage: 'remark',
         highlightLines: true
      });

      slideshow.on('afterShowSlide', function(slide) {
        displayMermaidDiagram();
      });

      displayMermaidDiagram();
    </script>
    {{{autoReload}}}
  </body>
</html>
